<html>
<head>
	<title>Foot Node</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<!--link rel="stylesheet" type="text/css" href="assets/styles.css"-->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		body, html{
			width: 100%;
			height: 100%;
			font-family: 'Lato', sans-serif;
		}
		#canvas {
			display: block;
		}
		.tools a{
			border: 1px solid black;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			vertical-align: middle;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			color: black;
			font-weight: bold;
		}
	</style>
</head>
<body>
<h1>FootDrawer</h1>
<div class="tools">

	<input type="hidden" id="paint-color-value" value="#000">
	<input type="hidden" id="paint-size-value" value="3">

	<a nohref  data-size='3' style='background: #ccc' class="paint-size">Small</a>
	<a nohref  data-size='5'  style='background: #ccc' class="paint-size">Normal</a>
	<a nohref  data-size='7'  style='background: #ccc' class="paint-size">Large</a>
</div>
<canvas id="drawing" style="border:1px solid #EEEEEE" width="490" height="220">
	Your browser needs to support canvas for this to work!
</canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
	var mouse = {
		click: false,
		move: false,
		pos: {x:0, y:0},
		pos_prev: false
	};
	var canvas  = document.getElementById('drawing');
	var context = canvas.getContext('2d');
	var socket  = io.connect();

	canvas.onmousedown = function(e){
		mouse.click = true;
	};

	canvas.onmousemove = function(e){
		mouse.pos.x = e.clientX - this.offsetLeft;
		mouse.pos.y = e.clientY- this.offsetTop;
		mouse.move = true;
	};

	canvas.onmouseup = function(e){
		mouse.click = false;
	};

	socket.on('draw_line', function (data) {
		var line = data.line;
		context.strokeStyle = $('#paint-color-value').val();
		context.lineJoin = "round";
		context.lineWidth = $('#paint-size-value').val();
		context.beginPath();
		context.moveTo(line[0].x, line[0].y );
		context.lineTo(line[1].x, line[1].y);
		context.stroke();
	});

	function mainLoop() {
		// check if the user is drawing
		if (mouse.click && mouse.move && mouse.pos_prev) {
			// send line to to the server
			socket.emit('draw_line', { line: [ mouse.pos, mouse.pos_prev ] });
			mouse.move = false;
		}
		mouse.pos_prev = {x: mouse.pos.x, y: mouse.pos.y};
		setTimeout(mainLoop, 25);
	}
	mainLoop();

	$(function(){
		$.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
			$('.tools').append("<a nohref  data-color='" + this + "' style='width: 10px; background: " + this + ";' class='paint-color'></a> ");
		});
		$('.paint-color').on('click',function() {
			var color = $(this).attr('data-color');
			$('#paint-color-value').val(color);
		});
		$('.paint-size').on('click',function() {
			var size = $(this).attr('data-size');
			$('#paint-size-value').val(size);
		});



	});

</script>
</body>
</html>